Flask
google-auth-oauthlib
google-api-python-client
google-auth-httplib2
google-auth
torch
torchvision
torchaudio
pandas
numpy
beautifulsoup4
bleach
yara-python
requests
oauthlib
python-dateutil
pytz
tqdm
matplotlib
seaborn
opencv-python
Pillow
PyPDF2
python-docx
transformers
peft
nltk
chardet
langdetect
tldextract
tensorflow